.note__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;
}

.note {
    background-color: #FAF7EE;
    color: #2b2b2b;
    width: 90%;
    padding: 1rem 0.5rem 1rem 1rem; /* top, right, bottom, left*/
}

.note__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 0.5rem;
}

.note__title {
    width: 17rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.note__date {
    width: 5rem;
    font-size: 0.8rem;
    color: #a1a1a1;
    margin-left: 0.5rem;
}

.note__user-name {
    font-size: 1rem;
    font-weight: 600;
    color: #2b2b2b;
    margin-top: 1rem;
}

.note__footer {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.note__btns{
    display: flex;
    gap: 0.5rem;
}